@import "tailwindcss";

#app {
  margin: 0 auto;
  font-weight: normal;
}

:root {
  --color-primary: #4f46e5;
  --color-secondary: #9333ea;
  --color-accent: #f43f5e;
  --color-background: #242527;
  --color-text: #f9fafb;

  background-color: var(--color-background);
  color: var(--color-text);
}
